<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<style>
    .parent-post-container>div {
        width: 333px;
        height: auto;
    }
    </style>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <span><a href="http://localhost:4000/home" class="text-decoration-none text-danger fs-2">AirBnB</a></span>
            <div class="ms-auto me-3">
                <span class="w-70 me-3"><a href="http://localhost:4000/hoster">Become a hoster</a></span>
                <span class="w-70 me-3"><a href="http://localhost:4000/mybookings">my booking's</a></span>
                <button type="button" class="btn btn-outline-danger ms-2"><a href="/logout"
                        class="text-decoration-none text-dark">Logout</a></button>
            </div>

        </div>
    </nav>
    <!-- posts section -->
    <section class="section p-3">
        <div style="min-height:500px;"
            class="parent-post-container px-5 py-3 bg-dark d-flex align-items-center flex-wrap gap-3">
            <!-- post-1 -->
        </div>

    </section>
    <script>
        console.log("working");
        async function fetchdata() {
            const fetchdata = await fetch("http://localhost:4000/fetchUserData")
            const data = await fetchdata.json();
            console.log(data)
        }
        fetchdata()
        async function fetchpropertydata() {
            try {
                // fetch data here
                const fetchs = await fetch('http://localhost:4000/fetchproperties');

                // convert data to json
                const data = await fetchs.json();

                // create cards here
                for (let i = 0; i < data.length; i++) {
                    // console.log(data[i].roomImage[1])
                    const Maincard = document.createElement('div');
                    Maincard.classList.add("cards", "bg-light","col-sm-12", "col-md-6", "col-lg-3", "my-3");
                    const card = `<a href="http://localhost:4000/property?id=${data[i].propertyId}" class="text-decoration-none text-black "><div class="img">
                <img class="card-img-top" src="./assets/${data[i].roomImage[1]}" alt="Card image cap">
            </div>
            <div class="cards-detail px-2 rounded-3 my-2">
                <div class="card-heading d-flex justify-content-between">
                    <h5 class="card-title">${data[i].propertyName}</h5>
                </div>
                <p class="card-text">${data[i].address.city}, ${data[i].address.country}</p>
                <p class="card-text"><strong><span><i class="fa-solid fa-indian-rupee-sign"></i></span>${data[i].price}</strong> night</p>
            </div></a>`;
                    Maincard.innerHTML = card;
                    const wrap = document.querySelector('.parent-post-container');
                    // append card
                    wrap.append(Maincard);
                }
            }
            catch (err) {
                // err
                console.log(err)
            }
        }
        fetchpropertydata()
    </script>
    <script src="./scripts/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>