<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>house</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<!-- Basic style -->
<style>
    .img-container {
        margin: 20px auto;
        position: relative;
    }

    .btn-container {
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        top: 42%;
        width: 100%;
    }

    .img-container>img {
        height: 400px;
        width: 100%;
        display: block;
        margin: auto;
        padding-bottom: 20px;
    }

    .btn-container>button {
        outline: none;
        width: 40px;
        height: 40px;
        border: none;
        background-color: rgb(25, 121, 211);
        border-radius: 50%;
        color: white;
        cursor: pointer;
    }

    .btn-container>button:last-child {
        margin: 0 50px 0 0;
    }
</style>

<body>
    <section>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <span><a href="http://localhost:4000/" class="text-decoration-none text-danger fs-2">AirBnB</a></span>
                <div class="ms-auto me-3">
                    <span class="w-70 me-3"><a href="">Become a hoster</a></span>
                    <span class="w-70 me-3">Welcome Vinith</span>
                    <button type="button" class="btn btn-outline-primary">Edit Profile</button>
                </div>
            </div>
        </nav>
        <div class="p-3">
            <!-- post component -->
            <div style="width:76vw;" class="bg-light m-auto px-3">
                <!-- post title -->
                <h1>big house here</h1>
                <!-- place -->
                <h3>Mumbai, India</h3>
                <!-- imgs -->
                <div style="width:700px;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://th.bing.com/th/id/OIP.xmc9vpdxmqD2SLr-WUZtzAHaEo?pid=ImgDet&rs=1"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://th.bing.com/th/id/OIP.qLVYj_t-HU2Yyx3v_wFgLwHaE6?w=283&h=188&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://th.bing.com/th/id/OIP.xmc9vpdxmqD2SLr-WUZtzAHaEo?pid=ImgDet&rs=1"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!--  tumbmail -->
                <h2 class="my-4">Luxury stay in Baa Atoll, North Province, Maldives</h2>
                <div class="pe-5">
                    <p class="me-5">Amilla Villa Estate is part of the UNESCO World Heritage Biosphere Reserve, in the
                        Maldives’ Baa
                        Atoll. This prestigious luxury rental has six beautiful bedrooms, an extremely generous amount
                        of indoor and outdoor hosting spaces, a private beachfront, and an unparalleled view of the
                        Indian Ocean.
                        This villa has everything you’ll need to feel at home while you’re on the island. The fully
                        equipped kitchen with breakfast bar and formal dining for ten are perfect for hosting. The
                        entertainment lounge is a great space to watch movies, play videogames, and challenge your
                        friends to a table tennis match. Outside on the terrace you’ll find the swimming pool and hot
                        tub. Lined with sun loungers, sun beds, and spacious outdoor living and dining areas, the
                        terrace is the perfect place to relax in privacy or host an elegant island dinner party. The
                        villa also includes breakfast, laundry service, housekeeping, and twenty-four hour security.
                        Amilla’s décor is simple and elegant. A bright and spacious atmosphere is created by
                        predominantly using white. The vibrant blues, greens, and natural sunlight of the environment
                        are the focal points. Cozy seating invites guests to relax in the tranquil indoor areas, while
                        plenty of windows and openings let the ocean breeze flow freely throughout the interior. Several
                        different balconies and outdoor living spaces make it easy to find a new spot to sit down with a
                        glass of wine and enjoy the amazing ocean view.
                        All six of the bedrooms feature spectacular ocean views and their own ensuite bathrooms with
                        stand-alone rain showers. Four of the bedrooms have king sized beds and private balconies, while
                        the other two bedrooms are great for kids, one with a set of twins beds and the other with a
                        single bed.</p>
                </div>
                <!--  guests, bedrooms beds bathrooms -->
                <div class="">
                    <!-- guests -->
                    <span class="me-2">12-guests</span>
                    <!-- bedrooms -->
                    <span>6-bedrooms</span>
                    <!-- beds -->
                    <span class="mx-2">6-beds</span>
                    <!-- bathrooms -->
                    <span>6-bathrooms</span>
                </div>
                <!-- ratings -->
                <div class="my-3 fs-3">
                    Rating: 4.3/5
                </div>

                <!-- Amenities -->
                <h4>Amenities</h4>
                <div class="d-flex gap-3">
                    <!-- outdoor -->
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-light fw-bold" aria-current="true">Outdoor</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                    <!-- indoor -->
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-light fw-bold" aria-current="true">Indoor</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                    <!-- Essentials -->
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-light fw-bold" aria-current="true">Essentials</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- hoster details -->
        <div class="d-flex">
            <!-- user image -->
            <span></span>
            <!-- user name -->
        </div>
    </section>
    <!-- Javascript code for next and previous button -->
    <script>
        let images = [
            'https://codelearningpoint.com/uploads/1627415311.jpg',
            'https://codelearningpoint.com/uploads/1627415323.jpg',
            'https://codelearningpoint.com/uploads/1627415302.jpg'
        ];
        let imageTag = document.querySelector('.imageTag');
        let i = 0;


        function next() {
            if (i >= images.length - 1) {
                return false;
            }
            i++;
            imageTag.setAttribute('src', images[i]);
        }
        function previous() {
            if (i <= 0) {
                return false;
            }
            i--;
            imageTag.setAttribute('src', images[i]);
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>